<layout>
    <ng-template #sideTemplate>
        <panel-header></panel-header>

        <section-header title="Personal Info" icon="material-icon personal-info-icon"></section-header>
        <section-content>
            <personal-information></personal-information>
        </section-content>

        <section-header title="Skills" icon="material-icon skills-icon"></section-header>
        <section-content>
            <skills></skills>
        </section-content>

        <i class=""></i>
        <section-header title="Software" icon="material-icon software-icon"></section-header>
        <section-content>
            <software></software>
        </section-content>

        <section-header title="Languages" icon="material-icon languages-icon"></section-header>
        <section-content>
            <languages></languages>
        </section-content>
    </ng-template>

    <ng-template #contentTemplate>
        <content-header></content-header>

        <body-section-header title="Experience" icon="icon experience-icon"></body-section-header>
        <experience></experience>

        <body-section-header title="Education" icon="icon education-icon"></body-section-header>
        <education></education>

        <body-section-header title="Personal Projects" icon="material-icon personal-projects-icon"></body-section-header>
        <personal-projects></personal-projects>

        <body-section-header title="Interests" icon="material-icon interests-icon"></body-section-header>
        <interests></interests>
    </ng-template>
</layout>

<router-outlet></router-outlet>