<layout>
    <ng-template #sideTemplate>
        <panel-header></panel-header>

        <panel-section-header title="Personal Info" icon="material-icon personal-info-icon"></panel-section-header>
        <panel-section-content>
            <personal-information></personal-information>
        </panel-section-content>

        <panel-section-header title="Skills" icon="material-icon skills-icon"></panel-section-header>
        <panel-section-content>
            <skills></skills>
        </panel-section-content>

        <i class=""></i>
        <panel-section-header title="Software" icon="material-icon software-icon"></panel-section-header>
        <panel-section-content>
            <software></software>
        </panel-section-content>

        <panel-section-header title="Languages" icon="material-icon languages-icon"></panel-section-header>
        <panel-section-content>
            <languages></languages>
        </panel-section-content>
    </ng-template>

    <ng-template #contentTemplate>
        <body-header></body-header>

        <body-section-header title="Experience" icon="icon experience-icon"></body-section-header>
        <experience></experience>

        <body-section-header title="Education" icon="icon education-icon"></body-section-header>
        <education></education>

        <body-section-header title="Personal Projects" icon="material-icon personal-projects-icon"></body-section-header>
        <personal-projects></personal-projects>
    </ng-template>
</layout>